@model HomeViewModel


<div class="hero_area">
    <div class="bg-box">
        <img src="~/image/layout/hero-bg.jpg" alt="">




        <div id="Bloco_dos_preferidos" class="row m-4 w-50">
            @foreach (var lanche in Model.LanchesPreferidos)
            {
                <partial name="_LancheResumo" for="@lanche" />
            }
        </div>

 </div>
 
