<div class="container">
    <img src="~/image/FaleConosco.png" alt="Fale conosco" />
    <div class="Jumbotron">
        <h3>Queremos ouvir o que você tem a dizer </h3>
        <p>
            se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/image/Envelope_icon.png" />
            </span>
            <h5><email endereco="wandersonssoares2001@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/image/Tell.png" />
            </span>
            <h5>(31) 9976-44917</h5>
            <br />
            <span>
                <img src="~/image/Home.jpg" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 32180-560 - Minas Gerais</h5>
        </p>
    </div>
</div>